* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #272727;
}

#root {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider {
	display: flex;
	height: 300px;
	border: 1px solid white;
}

.slide {
	position: relative;
	width: 700px;
	height: 100%;
}

.slide::after{
	opacity: 0.5;
	position: absolute; 
	content: ''; 
	display: block; 
	top: 0; 
	left: 0; 
	height: 100%; 
	width: 100%;
    background: linear-gradient(to bottom,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    mix-blend-mode: multiply;
	transition: opacity 0.2s ease-in;
}

.slide:hover::after{
	opacity: 1;
}

.slide-contents {
	position: absolute;
	right: 1.5rem;
	bottom: 1.5rem;
	left: 1.5rem;
	text-align: right;
	color: white;
	z-index: 2;
}

.thumbs {
	position: relative;
	width: 140px;
	height: 100%;
}

.thumb {
	height: calc(100% / 5);
	filter: brightness(.5);
}

.thumb.active {
	filter: none;
	border: 1px solid white;
}

.slide img,
.thumb img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.btn-control {
	position: absolute;
	left: 50%;
	width: 2rem;
	height: 2rem;
	color: white;
	background-color: black;
	border: 1px solid white;
	cursor: pointer;
	transform: translateX(-50%);
}

.btn-previus {
	top: -0.5rem;
}

.btn-next {
	bottom: -1rem;
}